body {
	font-family: 'helvetica';
	margin: auto;
	max-width: 600px;
	background: #6da2e7;
	text-align: center;
}
#title {
	font-family: 'Londrina Shadow', cursive;
	font-size: 60px;
	color: white;
}
.flashCard {
	display: block;
	height: auto;
	background-size: auto;
	position: center;
	margin: 0 10px 0 10px;
	border-radius: 12px;
	padding: 10px 10px 10px 0;
	background: white;
	text-align: center;
	text-size-adjust: auto;
	color: black;
}
.mainHeader {
	padding-top: 40px;
}
.submitButtonMuscles {
	display: none;
	margin: 0 0 50px 0;
}
.submitButtonBones {
	display: none;
	margin: 0 0 50px 0;
}
.userInput {
	display: none;
}
.startButton {
	margin-bottom: 50px;
}
.musclesButton {
	display: none;
	margin: 0 0 50px 0;
}
.bonesButton {
	display: none;
	margin: 0 0 50px 0;
}
